ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

  .cat-card {
    background-color: #c2e2d0; /* Ocean Green */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 3rem;
    width: 400px;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    border: 1px solid whitesmoke;
    display: flex;
  }

  .cat-card:hover{
    opacity: 0.9;
    cursor: pointer;
    width: 402px;
  }
  
  .catImage{
    height:505px;
    margin: 0.5rem;
  }
  .cat-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  
  .cat-card h2 {
    margin-top: 8px;
    color: #266150; /* Dark Ocean Green */
  }
  
  .cat-card p {
    color: #448d6a; /* Medium Ocean Green */
  }
  .cat-card .tag {
    display: inline-block;
    background-color: #34cddb; /* Blue color for tags */
    color: #fff;
    padding: 4px 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    font-size: 1em;
    transition: background-color 0.3s;
  }
  
  .cat-card .tag:hover {
    background-color: #2072a4; /* Darker blue on hover */
  }
  
  .cat-card button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .cat-card button:hover {
    background-color: #45a049;
  }